*.exe
del*
.vscode/
~/
.vim/
del/
build/
*.out





#exclusions for compressed files
*.rar
*.7z
*.bz2
*.xz
*.zip
*.exe
*.tar.gz

#exclusions for multimedia files, audio and video files

*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.flv
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.wma

#exclusions for executables and binaries
exec/
*.bat
*.cmd
*.sh
*.bin
*.dll
*.so
*.dylib
*.app
*.deb
*.rpm
*.msi
*.apk
*.ipa

#others
*.ini
